html {
  background-color: aquamarine;
  font-family: system-ui, sans-serif;
  line-height: 1.8;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: grey;
    }
    &.active {
      color: blue;
    }
  }
}
